 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 860px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 699px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-shape-1 {
  width: 170px;
  height: 170px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 auto 0 0;
}

.u-section-1 .u-image-1 {
  width: 475px;
  height: 475px;
  background-image: url("https://assets.nicepagecdn.com/d2cc3eaa/3925765/images/r444.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: -80px 0 0 auto;
}

.u-section-1 .u-shape-2 {
  width: 117px;
  height: 117px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: -109px auto 0 119px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 699px;
  background-image: none;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-1 .u-container-layout-2 {
  padding: 40px 25px;
}

.u-section-1 .u-text-1 {
  width: auto;
  margin: 0;
}

.u-section-1 .u-text-2 {
  width: auto;
  margin: 20px 0 0;
}

.u-section-1 .u-line-1 {
  width: 344px;
  height: 0;
  margin: 30px auto 0;
}

.u-section-1 .u-text-3 {
  line-height: 1.8;
  font-size: 1.375rem;
  width: auto;
  margin: 30px 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  padding: 0;
}

.u-section-1 .u-text-4 {
  font-size: 0.875rem;
  margin: 20px auto 0;
}

.u-section-1 .u-btn-3 {
  font-weight: 400;
  border-style: solid;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 804px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 526px;
  }

  .u-section-1 .u-image-1 {
    width: 426px;
    height: 426px;
  }

  .u-section-1 .u-shape-2 {
    margin-top: -59px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 643px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 941px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 619px;
  }

  .u-section-1 .u-image-1 {
    width: 480px;
    height: 480px;
    margin-top: -134px;
  }

  .u-section-1 .u-shape-2 {
    margin-top: -129px;
    margin-bottom: 12px;
    margin-left: 180px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 846px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 730px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -20px;
  }

  .u-section-1 .u-shape-2 {
    margin-top: -146px;
    margin-bottom: 29px;
    margin-left: 53px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 629px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 464px;
  }

  .u-section-1 .u-image-1 {
    width: 290px;
    height: 290px;
    margin-top: -104px;
  }

  .u-section-1 .u-shape-2 {
    width: 96px;
    height: 96px;
    margin-top: -69px;
    margin-bottom: 0;
    margin-left: 37px;
  }

  .u-section-1 .u-line-1 {
    width: 320px;
  }
}